body {
    margin: 0;
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-size: 1.2em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  section {
    text-align: center;
  }
  
  textarea {
    width: 30%;
    min-width: 300px;
    margin: 30px auto;
    height: 20vh;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: inherit;
  }
  
  button {
    margin: 20px auto;
    background-color: #f5e050;
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-size: large;
  }
  
  h1 {
    text-align: center;
    background-color: #f5e050;
    margin: 0;
    padding: 20px 0;
    font-size: 2em;
  }
  
  #output {
    display: inline-block;
    width: 30%;
    min-width: 300px;
    height: 20vh;
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    text-align: left;
    font-size: 1.5rem;
  }
  
  footer {
    background-color: #f5e050;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }
  
  #footer-div {
    text-align: center;
    box-sizing: border-box;
    width: 400px;
  }
  
  .footer-heading {
    padding: 10px 0;
  }
  
  .output-font {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  @media (max-width: 400px) {
    textarea,
    #output {
      height: 80px;
    }
  
    .output-font {
      margin: 0;
    }
  
    button {
      margin-top: 0;
    }
  
    .about-text {
      margin: 5px;
    }
  
    .footer-heading {
      padding: 0;
    }
  }